
@{
    ViewBag.Title = "Fotos";
}

<h2>FOTOS</h2>
<main>
        @foreach (var item in ViewBag.Images)
        {
            <div class="container">
                <center>
                    <img src="@item.imagen" class="d-block w-50">
                    <a href="@Url.Action("EliminarFoto","Crud", new {id = item.id, name=item.imagen})">
                        <img src="~/Content/Images/Delete.svg" title="Eliminar" />
                    </a>
                </center>
            </div><br />
        }
</main>
