
@{
    ViewBag.Title = "_DatosAnamnesis";
}

<main>
    <div class="row">
        <table class="table table-striped table-hover">
            @foreach (var item in ViewBag.Anamnesis)
            {
                <tbody>
                    <tr>
                        <td>Motivo Consulta</td>
                        <td>@item.motivo</td>
                    </tr>
                    <tr>
                        <td>Enfermedad Actual</td>
                        <td>@item.enfermedad</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</main>