
@{
    ViewBag.Title = "_URG_Amnanesis";
}

<h2>Amnanesis</h2>


<div class="row">
    <table class="table table-striped ">
        <thead>
            <tr>
                <td>Fecha de urgencia <input type="text" class="" placeholder="@DateTime.Now.ToString()" /></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nombres</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="Nombre" required>
                </td>
        </tbody>
    </table>
</div>