
@{
    ViewBag.Title = "RegistroFamiliar";
}

<main>
    @using (Html.BeginForm("InsertarFamiliar", "Registro", FormMethod.Post))
    {
        <div class="container">
            <article>
                <header>
                    <h1>3. ANTECEDENTES PERSONALES Y FAMILIARES </h1>
                    <input type="text" value="@TempData["id"]" name="IdUsuario" hidden readonly />
                </header>
                <br />
                <table class="table table-striped">
                    <tr>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">CANCER</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Cancer">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">DIABETES</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Diabetes">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>
                        @*<td>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">SINUSITIS</span>
            </div>
            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Sinusitis">
                <option value="0">NO</option>
                <option value="1">SI</option>
            </select>
        </td>
        <td>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">ORGANOS-SENTIDOS</span>
            </div>
            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="OrganosSentidos">
                <option value="0">NO</option>
                <option value="1">SI</option>
            </select>
        </td>*@
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">CARDIOPATIAS</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Cardiopatias">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">FIEBRE REUMATICA</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="FiebReumatica">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        @*<td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">INFECCIONES</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Infecciones">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>*@
                        
                        @*<td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">TRANSTORNOS GASTRICOS</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="TransGastricos">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>*@
                        
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">TRATAMIENTO MEDICO</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="TrataMedico">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>
                        @*<td>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">ENFERMEDADES RESPIRATORIAS</span>
            </div>
            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="EnferRespiratoria">
                <option value="0">NO</option>
                <option value="1">SI</option>
            </select>
        </td>
        <td>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">HIPERTENSION</span>
            </div>
            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Hipertension">
                <option value="0">NO</option>
                <option value="1">SI</option>
            </select>
        </td>*@
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">ALTERACIONES COAGULATORIAS</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="AltCoagulatorias">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">TRASTORNOS NEUMOLOGICOS</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="TransNeumologico">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">TENSION ARTERIAL</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="TenArterial">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">ORTOS</span>
                            </div>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" cols="100" name="Otros"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">EMBARAZO</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Embarazo">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">MESES</span>
                            </div>
                            <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="Meses" value="0">
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">LACTANCIA</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Lactancia">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">FRECUENCIA DE CEPILLADO</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="FreCepillado">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">USO DE SEDA DENTAL</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="CedaDental">
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">OBSERVACIONES</span>
                            </div>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" cols="100" name="Observaciones"></textarea>
                        </td>
                    </tr>
                    <tr><td colspan="4"></td></tr>
                </table>
            </article>

            <table class="table table-striped">
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <center><button type="submit" class="btn btn-primary" style="width:50%; ">Siguiente</button></center>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
</main>

