
@{
    ViewBag.Title = "RegistroEstomatologico";
}

<h2>RegistroEstomatologico</h2>
<main>
    @using (Html.BeginForm("InsertarEstomatologico", "Registro", FormMethod.Post))
    {
        <div class="container">
            <article>
                <header>
                    <h2>4. EXAMEN ESTOMATOLOGICO</h2>
                    <input type="text" value="@TempData["id"]" name="IdUsuario" hidden/>
                </header>
                <br />
                <table class="table table-striped">
                    <tr>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">LABIOS</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Labios">
                                <option value="1">NORMAL</option>
                                <option value="2">ANORMAL</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">LENGUA</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Lengua">
                                <option value="1">NORMAL</option>
                                <option value="2">ANORMAL</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">FRENILLOS</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Frenillos">
                                <option value="1">NORMAL</option>
                                <option value="2">ANORMAL</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">ENCIAS</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Encias">
                                <option value="1">NORMAL</option>
                                <option value="2">ANORMAL</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">MUSCULOS</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Musculos">
                                <option value="1">NORMAL</option>
                                <option value="2">ANORMAL</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">MAXILARES</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Maxilares">
                                <option value="1">NORMAL</option>
                                <option value="2">ANORMAL</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">PALADAR</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Paladar">
                                <option value="1">NORMAL</option>
                                <option value="2">ANORMAL</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">PISO-BOCA</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="PisoBoca">
                                <option value="1">NORMAL</option>
                                <option value="2">ANORMAL</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">GLANDULAS SALIVALES</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="GlanSalivales">
                                <option value="1">NORMAL</option>
                                <option value="2">ANORMAL</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">CARRILLOS</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Carrillos">
                                <option value="1">NORMAL</option>
                                <option value="2">ANORMAL</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">OROFARINGE</span>
                            </div>
                            <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="Orofarige">
                                <option value="1">NORMAL</option>
                                <option value="2">ANORMAL</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </article>
            <table class="table table-striped">
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <center><button type="submit" class="btn btn-primary" style="width:50%; ">Siguiente</button></center>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    }
</main>

